# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/
ENV/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Python Distribution
build/
dist/
*.egg-info/

# Environment Variables
.env

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Coverage Reports
.coverage
htmlcov/

# Temporary Files
*.tmp
*.temp